/106
/107
/abc.ipynb
/change_to_1cha_geomsu.py
/change_to_saengseong.py
/change_to_wanryo.py
/elastics.csv
/elasticsearch.ipynb
/False_checker.py
/False_Check_20221104.csv
/False_Check_20221107.csv
/guajangnim.ipynb
/image_id.csv
/logs
/recovery_info_407_20221018.csv
/recovery_info_407_20221019.csv
/recovery_program.py
/recovery_program_argv_ifstop.py
/recovery_program_ifstop.py
/test.ipynb
/test.py
/__pycache__
/레포트 통합
/워커_완료리스트_221020.xlsx
/이대목동 작업자별 커맨드 모음.xlsx
/이대목동복원작업.zip
/읽어주세요.txt
/전성문_data.csv